div{
    height: 500px;
    width: 500px;
}
.p1{
    background-color: gray;
    height: 35px;
    margin-bottom: 5px;
    text-align: center;
    
}
.p2{
    background-color: black;
    height: 35px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}